.nav{
    margin-left: 40px;
    margin-right: 40px;
}

.img_home{
    width:300px;
    height:300px;
    margin-left: 20px;
    margin-right: 20px;
    transition: transform .2s;

}
.img_home:hover{
    transform: scale(1.25);
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
}
.button{
    background-color: #6163DB;
    padding: 10px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    transition: transform .2s;
}
.button:hover{
    transform: scale(1.10);
    -webkit-transform: scale(1.10);
    -moz-transform: scale(1.10);
    -ms-transform: scale(1.10);
    -o-transform: scale(1.10);
}
.foot{
    padding: 10px;
}